DirectoryIndex ctimer.html


RewriteEngine On

# redirect /wee to /weetimer.html
RewriteRule ^wee$ http://www.ctimer.co.uk/weetimer.html [NC,P,L]

RewriteCond %{HTTP_HOST} ^(m\.ctimer\.co.uk)$
RewriteRule "^$" "/weetimer.html" [NC,L]
