DirectoryIndex ctimer.html


RewriteEngine On

# redirect /wee to /weetimer.html
RewriteRule ^wee$ http://ctimer.rider.biz/weetimer.html [NC,P,L]

RewriteCond %{HTTP_HOST} ^(m\.ctimer\.co.uk)$
RewriteRule "^$" "/weetimer.html" [NC,L]

